<h1 class="uk-heading-divider">Mis Evaluaciones</h1>

<% if @evaluations.any? %>
  <table class="uk-table uk-table-middle uk-table-divider">
    <thead>
      <tr>
        <th>Fecha de Evaluación</th>
        <th class="uk-width-small uk-text-right">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @evaluations.order(:evaluation_date).each do |evaluation| %>
        <tr>
          <td><%= evaluation.evaluation_date.to_date %></td>
          <td class="uk-text-right"><%= link_to 'Ver', evaluation, class:"uk-button uk-button-default" %></td>
        </tr>
      <%end %>
    </tbody>
  </table>
<% else %>
  <p>Aún no hay registros de evaluaciones, añada uno nuevo.</p>
<% end %>

<%= link_to 'Añadir Evaluacion', new_evaluation_path, class: "uk-button uk-button-default uk-width-1-1 uk-margin" %>
<%= link_to 'Volver', physical_path, class: "uk-button uk-button-default uk-width-1-1" %>
