<h1 class="uk-heading-divider">
    <%= link_to "", admin_foods_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> 
    Nuevo Alimento
    <input type="submit" form="admin_food_form" value="Guardar" data-disable-with="Guardando..." class="uk-button uk-button-default uk-align-right">
</h1>

<%= render 'form', food: @food %>
