<%#= tag.div(class: "row") do %>
  <%#= tag.div(class: "col-md-12") do %>
    <%#= render(Card::StatsComponent.new(link: homeworks_path, color: "primary", card_icon: "maps_home_work", category: "Descripcion de la tareas en general.", title: "Tareas", footer_text: "#{Homework.all.count} tareas creadas" )) %>
  <%# end %>
<%# end %>
<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match uk-padding-small" uk-grid>
  <% @dashboard_links.each do |name, description, link_url| %>
      <div>
        <%= link_to link_url, class:"uk-card uk-card-hover uk-card-secondary uk-text-center uk-card-body uk-link-reset" do %>
          <h3 class="uk-card-title"><%= name %></h3>
          <hr>
          <p><%= description %></p>
        <% end %>
      </div>
  <% end %>

  <% if @current_user.is_admin? %>
    <div>
      <%= link_to admin_authenticated_root_path, class:"uk-card uk-card-hover uk-card-body uk-card-primary uk-link-reset uk-text-center" do %>
        <h3 class="uk-card-title">Administración</h3>
        <hr>
        <p>Acceso al servicio de administracion de la app.</p>
      <% end %>
    </div>
  <% end %>
</div>