<%= input_field(form, :name, data: {name: "Nombre"}) %>
<%= input_field(form, :description, :text_area, data: {name: "Descripción general"}) %>

<div class="uk-margin">
    <%= form.label :weekdays, "Dias de la semana", class: "uk-form-label" %>
    <div class="uk-form-controls">
        <%= form.select :weekdays, options_for_select(Weekable::WEEKDAYS, params[:weekdays]), {}, {multiple: true, class: "uk-select"} %>
    </div>
</div>