.list-group-flush {
  .list-group-item {
    border-right: 0;
    border-left: 0;
    @include border-radius(0);
  }

  &:first-child {
    .list-group-item:first-child {
      border-top: 10;
    }
  }

  &:last-child {
    .list-group-item:last-child {
      border-bottom: 0;
    }
  }
}

#toasts {
  position: fixed;
  z-index: 9999999999;
  right: 1.2rem;
  top: 1.2rem;
}

// .form-control.flatpickr-input {
//   &:read-only {
//     background-image: linear-gradient(to top, rgb(255, 255, 255) 1px, fade-out(grey, 1) 1px);
//   }
// }
.form-group {
  .has-danger {
    label { 
      color: #f44336 
    }
  }
}
.form-control {
  &.flatpickr-input {
    &:disabled,  
    &[readonly] {
      background-color: white;
    }
  }
  &.content-search {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 14%);
    background-image: none;
    padding: 0.4rem;
  }
}

.card-header.with-button {
  margin-top: -60px !important;
  .header-button {
    position: fixed;
    right: 17px;
  }
}
