#toasts {
  position: fixed;
  z-index: 9999999999;
  right: 1.2rem;
  top: 1.2rem;
}

form {
  .search-container {
    > label { width: 100%; }
    > span { width: 100% !important; }
  }
}

.material-icons {
  line-height: 1.5 !important; 
}