<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<% @exercise.examples.each do |example| %>
  <%= format_image_tag(example) %>
<% end %>

<%#= link_to 'Edit', edit_admin_user_workout_exercise_path(@user, @workout, @exercise) %> |
<%= link_to 'Back', admin_user_workout_exercises_path(@user, @workout) %>
