<div id="loading" class="uk-height-1-1 load3 uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
    <div class="loader"></div>
    <%= image_pack_tag "media/images/app/logo2.png", alt:"Loading...", height: '32', width: '32', class: "uk-position-center"%>
</div>
