<%= link_to @link, method: @method, data: @data do %>
	<button type="button" title="<%= @title %>" class="btn btn-<%= @status %> btn-link btn-sm">
		<%= content_tag(:i, @icon, class: "material-icons") %>
	</button>
<% end %>
