<h1 class="uk-heading-divider">Editing Workout</h1>

<%= render 'form', workout: @workout %>

<%= link_to 'Show', admin_user_workout_path(@workout.user, @workout) %> |
<%= link_to 'Back', admin_user_workouts_path(@workout.user) %>