<nav uk-sticky="sel-target: .breadcrumbs-nav; cls-active: uk-navbar-sticky; offset: 83" class="uk-navbar-container breadcrumbs-nav uk-link-reset breadcrumb-navbar">
    <div class="uk-navbar-left">
        <ul class="uk-breadcrumb">
            <%= render_breadcrumbs tag: :li, separator: '' %> 
        <ul>
    </div>
</nav>
