<div>
  <div class="uk-width-expand@s">
    <table class="uk-table uk-table-divider uk-table-small uk-table-justify">
      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.name %></td>
            <td class="uk-align-right uk-margin-remove"><%= link_to '', exercise, :"uk-icon" => "chevron-right", class: "uk-icon" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>